.install-container {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
}

.install-container h1 {
    color: #461E99;
    margin-bottom: 0px;
}
.instructions {
    color: #3d3d3d;
    font-size: 18px;
}
.install-container .install-logo {
    width: 120px;
    height: auto;
    margin: 20vh auto 0 auto;
}
.toolbar {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20%;
}
.install-container .install-button {
    border-radius: 50px;
    background-color: #461E99;
    padding: 16px 32px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    width: 90%;
    font-family: "Noto Sans Thai" !important;
}

@media (display-mode: browser) {
    .install-container {
        display: none;
    }
}